In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
data1 = pd.read_csv("/content/drive/MyDrive/Kaggle_1/house-prices-advanced-regression-techniques/train.csv")

In [ ]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     1452 non-null   object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

In [ ]:
test = pd.read_csv("/content/drive/MyDrive/Kaggle_1/house-prices-advanced-regression-techniques/test.csv")

In [ ]:
subm = pd.read_csv("/content/drive/MyDrive/Kaggle_1/house-prices-advanced-regression-techniques/sample_submission.csv")

In [ ]:
data1.shape

(1460, 81)


Convert categorical data into numeric data

In [ ]:
data1.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [ ]:
train = pd.get_dummies(data1)
test = pd.get_dummies(test)

In [ ]:
len(train.columns)

290

In [ ]:
len(test.columns)

271

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Columns: 290 entries, Id to SaleCondition_Partial
dtypes: float64(3), int64(35), uint8(252)
memory usage: 792.9 KB

In [ ]:

dependent_variable = train.SalePrice

In [ ]:

dependent_variable

0       208500
1       181500
2       223500
3       140000
4       250000
         ...
1455    175000
1456    210000
1457    266500
1458    142125
1459    147500
Name: SalePrice, Length: 1460, dtype: int64

In [ ]:
da = data1["SalePrice"]

In [ ]:
da

0       208500
1       181500
2       223500
3       140000
4       250000
         ...
1455    175000
1456    210000
1457    266500
1458    142125
1459    147500
Name: SalePrice, Length: 1460, dtype: int64


To have the same columns of train data, as test data

In [ ]:
train = train[test.columns]
train['SalePrice'] = dependent_variable

<ipython-input-16-1d6d91c80f52>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train['SalePrice'] = dependent_variable

In [ ]:
len(train.columns)

272

In [ ]:
len(test.columns)

271

In [ ]:
train

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial,SalePrice
0,1,60,65.0,8450,7,5,2003,2003,196.0,706,...,0,0,1,0,0,0,0,1,0,208500
1,2,20,80.0,9600,6,8,1976,1976,0.0,978,...,0,0,1,0,0,0,0,1,0,181500
2,3,60,68.0,11250,7,5,2001,2002,162.0,486,...,0,0,1,0,0,0,0,1,0,223500
3,4,70,60.0,9550,7,5,1915,1970,0.0,216,...,0,0,1,1,0,0,0,0,0,140000
4,5,60,84.0,14260,8,5,2000,2000,350.0,655,...,0,0,1,0,0,0,0,1,0,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,62.0,7917,6,5,1999,2000,0.0,0,...,0,0,1,0,0,0,0,1,0,175000
1456,1457,20,85.0,13175,6,6,1978,1988,119.0,790,...,0,0,1,0,0,0,0,1,0,210000
1457,1458,70,66.0,9042,7,9,1941,2006,0.0,275,...,0,0,1,0,0,0,0,1,0,266500
1458,1459,20,68.0,9717,5,6,1950,1996,0.0,49,...,0,0,1,0,0,0,0,1,0,142125
1459,1460,20,75.0,9937,5,6,1965,1965,0.0,830,...,0,0,1,0,0,0,0,1,0,147500

In [ ]:
train = train.set_index("Id")

In [ ]:
test = test.set_index("Id")

In [ ]:
train

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,60,65.0,8450,7,5,2003,2003,196.0,706,0,...,0,0,1,0,0,0,0,1,0,208500
2,20,80.0,9600,6,8,1976,1976,0.0,978,0,...,0,0,1,0,0,0,0,1,0,181500
3,60,68.0,11250,7,5,2001,2002,162.0,486,0,...,0,0,1,0,0,0,0,1,0,223500
4,70,60.0,9550,7,5,1915,1970,0.0,216,0,...,0,0,1,1,0,0,0,0,0,140000
5,60,84.0,14260,8,5,2000,2000,350.0,655,0,...,0,0,1,0,0,0,0,1,0,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1456,60,62.0,7917,6,5,1999,2000,0.0,0,0,...,0,0,1,0,0,0,0,1,0,175000
1457,20,85.0,13175,6,6,1978,1988,119.0,790,163,...,0,0,1,0,0,0,0,1,0,210000
1458,70,66.0,9042,7,9,1941,2006,0.0,275,0,...,0,0,1,0,0,0,0,1,0,266500
1459,20,68.0,9717,5,6,1950,1996,0.0,49,1029,...,0,0,1,0,0,0,0,1,0,142125
1460,20,75.0,9937,5,6,1965,1965,0.0,830,290,...,0,0,1,0,0,0,0,1,0,147500

In [ ]:
condition = (train.corr() < -0.7) | (train.corr() > 0.7) & (train.corr() != 1)
correlation = train.drop('SalePrice', axis=1).corr()[condition].dropna(how='all', axis=0)
collinearity = correlation[correlation.index]

In [ ]:
collinearity

,MSSubClass,YearBuilt,BsmtFinSF2,TotalBsmtSF,1stFlrSF,2ndFlrSF,GrLivArea,TotRmsAbvGrd,GarageYrBlt,GarageCars,...,GarageType_Attchd,GarageType_Detchd,GarageQual_TA,GarageCond_TA,PavedDrive_N,PavedDrive_Y,MiscFeature_Gar2,SaleType_New,SaleType_WD,SaleCondition_Partial
MSSubClass,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
YearBuilt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.825667,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BsmtFinSF2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TotalBsmtSF,NaN,NaN,NaN,NaN,0.81953,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1stFlrSF,NaN,NaN,NaN,0.81953,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
PavedDrive_Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,-0.856491,NaN,NaN,NaN,NaN,NaN
MiscFeature_Gar2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SaleType_New,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.773680,0.986819
SaleType_WD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.773680,NaN,-0.769559
SaleCondition_Partial,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.986819,-0.769559,NaN

In [ ]:
x = list(collinearity.columns)
for i in x:
    x.remove(collinearity[i].dropna().index[0])
x

['MSSubClass',
 'YearBuilt',
 'BsmtFinSF2',
 'TotalBsmtSF',
 'GrLivArea',
 'GarageCars',
 'MiscVal',
 'MSZoning_FV',
 'MSZoning_RL',
 'Street_Grvl',
 'LotShape_IR1',
 'LotConfig_Corner',
 'LandSlope_Gtl',
 'HouseStyle_2Story',
 'RoofStyle_Gable',
 'RoofMatl_Tar&Grv',
 'Exterior1st_CemntBd',
 'Exterior1st_HdBoard',
 'Exterior1st_MetalSd',
 'Exterior1st_Plywood',
 'Exterior1st_Stucco',
 'Exterior1st_VinylSd',
 'Exterior1st_Wd Sdng',
 'Exterior2nd_AsbShng',
 'MasVnrType_None',
 'ExterQual_TA',
 'ExterCond_TA',
 'Foundation_PConc',
 'BsmtQual_TA',
 'Heating_GasW',
 'CentralAir_Y',
 'Electrical_SBrkr',
 'KitchenQual_TA',
 'GarageType_Detchd',
 'GarageCond_TA',
 'PavedDrive_Y',
 'SaleType_WD',
 'SaleCondition_Partial']

In [ ]:
collinearity[train[x].corr()[condition].isnull() == False].dropna(how='all')

,MSSubClass,YearBuilt,BsmtFinSF2,TotalBsmtSF,1stFlrSF,2ndFlrSF,GrLivArea,TotRmsAbvGrd,GarageYrBlt,GarageCars,...,GarageType_Attchd,GarageType_Detchd,GarageQual_TA,GarageCond_TA,PavedDrive_N,PavedDrive_Y,MiscFeature_Gar2,SaleType_New,SaleType_WD,SaleCondition_Partial
SaleType_WD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.769559
SaleCondition_Partial,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.769559,NaN

In [ ]:
x.remove('SaleType_WD')

In [ ]:
train = train.drop(x, axis=1)
test = test.drop(x, axis=1)

In [ ]:
(train.isnull().sum() / train.shape[0])[train.columns[train.isnull().sum() > 0]]

LotFrontage    0.177397
MasVnrArea     0.005479
GarageYrBlt    0.055479
dtype: float64

In [ ]:
train = train.drop(['LotFrontage', 'GarageYrBlt'], axis=1)
test = test.drop(['LotFrontage', 'GarageYrBlt'], axis=1)

In [ ]:
train[train.MasVnrArea.isnull() == True]

,LotArea,OverallQual,OverallCond,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtUnfSF,1stFlrSF,2ndFlrSF,LowQualFinSF,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
235,7851,6,5,2002,NaN,625,235,860,1100,0,...,0,0,0,1,0,0,0,0,1,216500
530,32668,6,3,1975,NaN,1219,816,2515,0,0,...,0,0,0,1,0,0,1,0,0,200624
651,8125,7,6,2007,NaN,0,813,822,843,0,...,0,0,0,1,0,0,0,0,1,205950
937,10083,7,5,2003,NaN,833,343,1200,0,0,...,0,0,0,1,0,0,0,0,1,184900
974,11639,7,5,2008,NaN,0,1428,1428,0,0,...,0,1,0,0,0,0,0,0,0,182000
978,4274,7,5,2007,NaN,1106,135,1241,0,0,...,0,1,0,0,0,0,0,0,0,199900
1244,13891,10,5,2006,NaN,1386,690,2076,0,0,...,0,1,0,0,0,0,0,0,0,465000
1279,9473,8,5,2002,NaN,804,324,1128,903,0,...,0,0,0,1,0,0,0,0,1,237000

In [ ]:
train = train.drop(train[train.MasVnrArea.isnull() == True].index)

In [ ]:
(test.isnull().sum() / test.shape[0])[test.columns[test.isnull().sum() > 0]]

MasVnrArea      0.010281
BsmtFinSF1      0.000685
BsmtUnfSF       0.000685
BsmtFullBath    0.001371
BsmtHalfBath    0.001371
GarageArea      0.000685
dtype: float64

In [ ]:

null_columns = list((test.isnull().sum() / test.shape[0])[test.columns[test.isnull().sum() > 0]].index)

In [ ]:
train.corr()['SalePrice'][null_columns]

MasVnrArea      0.477493
BsmtFinSF1      0.383977
BsmtUnfSF       0.215740
BsmtFullBath    0.225027
BsmtHalfBath   -0.015993
GarageArea      0.622492
Name: SalePrice, dtype: float64

In [ ]:
train = train.drop(['MasVnrArea', 'BsmtFinSF1', 'BsmtUnfSF', 'BsmtFullBath', 'BsmtHalfBath'], axis=1)
test = test.drop(['MasVnrArea', 'BsmtFinSF1', 'BsmtUnfSF', 'BsmtFullBath', 'BsmtHalfBath'], axis=1)

In [ ]:


test[test.GarageArea.isnull() == True]

,LotArea,OverallQual,OverallCond,YearRemodAdd,1stFlrSF,2ndFlrSF,LowQualFinSF,FullBath,HalfBath,BedroomAbvGr,...,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal
Id,,,,,,,,,,,,,,,,,,,,,
2577,9060,5,6,1999,942,886,0,2,0,3,...,0,0,0,0,1,0,0,1,0,0

In [ ]:


test.GarageArea = test.GarageArea.fillna(round(test.GarageArea.mean(),0))

In [ ]:
X = train.drop('SalePrice', axis=1)
y = train.SalePrice

In [ ]:


from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X[:] = scaler.fit_transform(X)
test[:] = scaler.fit_transform(test)

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.20, random_state=2023)
X_test = test

In [ ]:
from sklearn.linear_model import Lasso

## Solving or reducing error that Input contains NaN, infinity or a value too large for dtype('float64')

In [ ]:
import pandas as pd
import numpy as np
df = X_train
def clean_dataset(df):
    assert isinstance(df, pd.DataFrame), "df needs to be a pd.DataFrame"
    df.dropna(inplace=True)
    indices_to_keep = ~df.isin([np.nan, np.inf, -np.inf]).any(1)
    return df[indices_to_keep].astype(np.float64)

In [ ]:
import pandas as pd
import numpy as np
df1 = y_train
def clean_dataset(df1):
    assert isinstance(df1, pd.DataFrame), "df1 needs to be a pd.DataFrame"
    df1.dropna(inplace=True)
    indices_to_keep = ~df1.isin([np.nan, np.inf, -np.inf]).any(1)
    return df1[indices_to_keep].astype(np.float64)

In [ ]:
np.where(X_train.values >= np.finfo(np.float64).max)

(array([], dtype=int64), array([], dtype=int64))

In [ ]:
np.where(y_train.values >= np.finfo(np.float64).max)

(array([], dtype=int64),)

In [ ]:
df1

Id
480      89471
1260    151000
1272    185750
16      132000
720     128500
         ...
888     135500
517     158000
699     138500
456     175500
859     152000
Name: SalePrice, Length: 1161, dtype: int64

In [ ]:
# remove rows that contain NaN values
df = df.dropna()

# remove rows that contain inf or -inf values
df = df[~(df == np.inf).any(1)]
df = df[~(df == -np.inf).any(1)]

<ipython-input-48-c50267c7b6f0>:5: FutureWarning: In a future version of pandas all arguments of DataFrame.any and Series.any will be keyword-only.
  df = df[~(df == np.inf).any(1)]
<ipython-input-48-c50267c7b6f0>:6: FutureWarning: In a future version of pandas all arguments of DataFrame.any and Series.any will be keyword-only.
  df = df[~(df == -np.inf).any(1)]

In [ ]:
# replace NaN values with the mean of the column
df = df.fillna(df.mean())

# replace inf or -inf values with a specific value
df[df == np.inf] = 99999
df[df == -np.inf] = -99999

In [ ]:


from sklearn.linear_model import Ridge

In [ ]:
import numpy as np
df = df.replace([np.inf, -np.inf], np.nan)
df = df.fillna(0)

In [ ]:
y_val

Id
799     485000
1291    180500
1184    120000
683     173000
1035    119750
         ...
371     172400
755     156000
1205    153500
1331    227000
155     125000
Name: SalePrice, Length: 291, dtype: int64

## Ridge Regression

In [ ]:

r = Ridge(alpha=100)
r.fit(df, df1)
y_pred_train_r = r.predict(X_train)
y_pred_val_r = r.predict(X_val)

In [ ]:
from sklearn.metrics import mean_squared_error
import math

In [ ]:
print('Ridge Regression:', math.sqrt(mean_squared_error(y_val, y_pred_val_r)))

Ridge Regression: 38361.607376978085

In [ ]:
test = test.drop("id", axis =1)

In [ ]:
subm['SalePrice'] = r.predict(test)
subm.to_csv('/content/drive/MyDrive/Kaggle_1/playground-series-s3e1/shuja_jan_ep1_sub.csv',index=False)

In [ ]:
import numpy as np
y_pred_test_r = r.predict(X_test)
output = pd.DataFrame({'Id': X_test.index, 'SalePrice': np.round(y_pred_test_r, 0)})
output.to_csv('/content/drive/MyDrive/Kaggle_1/house-prices-advanced-regression-techniques/submission.csv', index=False)

In [ ]:
pd.read_csv('/content/drive/MyDrive/Kaggle_1/house-prices-advanced-regression-techniques/submission.csv')

Random Forest Regressor

In [ ]:
from sklearn.ensemble import RandomForestRegressor
rfr = RandomForestRegressor(n_estimators=500, max_features=int(len(train.columns)*0.7))
rfr.fit(X_train, y_train)
y_pred_train_rfr = rfr.predict(X_train)
y_pred_val_rfr = rfr.predict(X_val)

In [ ]:
print('Random Forest Regression:', math.sqrt(mean_squared_error(y_train, y_pred_train_rfr)))

Random Forest Regression: 11027.998804425937

In [ ]:
import numpy as np
y_pred_test_rfr = rfr.predict(X_test)
output = pd.DataFrame({'Id': X_test.index, 'SalePrice': np.round(y_pred_test_rfr, 0)})
output.to_csv('/content/drive/MyDrive/Kaggle_1/house-prices-advanced-regression-techniques/submissionFor.csv', index=False)

In [ ]:
pd.read_csv('/content/drive/MyDrive/Kaggle_1/house-prices-advanced-regression-techniques/submissionFor.csv')

        Id  SalePrice
0     1461   137452.0
1     1462   153844.0
2     1463   167463.0
3     1464   182030.0
4     1465   197625.0
...    ...        ...
1454  2915    86112.0
1455  2916    86654.0
1456  2917   163684.0
1457  2918   112063.0
1458  2919   232193.0

[1459 rows x 2 columns]

 #Xgboost

In [ ]:
import xgboost as xgb
from sklearn.model_selection import KFold, cross_val_score, train_test_split

In [ ]:
model_xgb = xgb.XGBRegressor()

In [ ]:
n_folds = 13

def rmsle_cv(model):
    kf = KFold(n_folds, shuffle=True, random_state=1).get_n_splits(train.values)
    rmse= np.sqrt(-cross_val_score(model, X_train, y_train, scoring="neg_mean_squared_error", cv = kf))
    return(rmse)

In [ ]:
score = rmsle_cv(model_xgb)
print("Xgboost score: {:.4f} ({:.4f})\n".format(score.mean(), score.std()))

In [ ]:
model_xgb.fit(X_train,y_train)

[10:04:22] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor()

In [ ]:
subm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Id         1459 non-null   int64
 1   SalePrice  1459 non-null   float64
dtypes: float64(1), int64(1)
memory usage: 22.9 KB

In [ ]:
predi = model_xgb.predict(test)

In [ ]:
predi.shape

(1459,)

In [ ]:
subm.shape

(1459, 2)

In [ ]:
subm['SalePrice'] = predi
subm.to_csv('/content/drive/MyDrive/Kaggle_1/playground-series-s3e1/xgboost.csv',index=False)